@font-face {
  font-family: 'Aeroport';
  font-style: normal;
  font-weight: 300;
  src: local('Aeroport'),
  url('../assets/fonts/Aeroport-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'Aeroport';
  font-style: normal;
  font-weight: 700;
  src: local('Aeroport'),
  url('../assets/fonts/Aeroport-Bold.ttf') format('opentype');
}